* {
    overflow-anchor: none;
}
body {
    display: grid;
    grid-template:
        "header header"
        "nav main"
        "nav footer";
    margin: 0;
    grid-template-columns: 200px auto;
    grid-template-rows: 48px auto;
    background-color: #18232c;
    color: white;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

a{
    color: whitesmoke;
}
header{
    grid-area: header;
    padding: 1rem;
}
header:before {
    content: "Component library";
    font-size: 2rem;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    padding-bottom: 2rem;
}

footer {
    grid-area: footer;
}


.docs-page{
    display: none;
}
.docs-page:target{
    display: flex;
    flex-direction: column;
}

.example-code{
    border: 1px solid #535353;
    background-color: #535353;
    padding: 1rem;
    white-space: pre-wrap;
}

.example-content{
    border: 1px solid #535353;
    background-color: #383838;
    padding: 1rem;
}

.example{
    border-radius: 5px;
    overflow: hidden;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.example-code-react{
    display: none;
}

.docs-info{
    margin-right: 2rem;
}
.docs-info-table{
    width: 100%;
    border: 1px solid #535353;
    background-color: #383838;
    padding: 1rem;
}

.docs-info-table tr{
    text-align: left;
}
