:root {
    --bg-color: #17181e;
    --primary-color: #383838;
    --secondary-color: #535353;
    --accent-color: #777;
    --react-color: #61DBFB;
    --vue-color: #42b883;
}

* {
    overflow-anchor: none;
}

body {
    display: grid;
    grid-template:
        "header header"
        "nav main"
        "nav footer";
    margin: 0;
    grid-template-columns: 250px auto;
    grid-template-rows: min-content min-content min-content;
    background-color: var(--bg-color);
    color: white;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
    color: whitesmoke;
}

header {
    grid-area: header;
}

nav {
    position: fixed;
    grid-area: nav;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 1rem;
    height: 100vh;
}

main {
    grid-area: main;
    overflow-x: hidden;
    padding: 1rem;
    height: max-content;
}

footer {
    grid-area: footer;
    height: 100px;
}

.docs-page {
    display: none;
}

.docs-page:target {
    display: flex;
    flex-direction: column;
}

.example-code {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    white-space: pre-wrap;
}

.example-content {
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem;
}

.example {
    border-radius: 5px;
    overflow: hidden;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.example-code-react {
    display: block;
}

.example-code-react label {
    color: var(--react-color);
}

.example-code-vue {
    margin-top: 1rem;
    display: block;
}

.example-code-vue label {
    color: var(--vue-color);
}

.docs-info {
    margin-right: 2rem;
}

.docs-info-table {
    width: 100%;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem;
}

.docs-info-table td {
    width: 7rem;
}

.docs-info-table tr {
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

.docs-nav-root {
    margin-top: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

@media (max-width: 756px) {
    body {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
        grid-template:
        "header"
        "nav"
        "main"
        "footer";
    }

    nav {
        position: relative;
        height: max-content;
    }

    .docs-info-table {
        border-collapse: collapse;
    }

    .docs-info-table td, th {
        padding-left: 1rem;
        border-top: 1px solid var(--secondary-color);
    }

    .docs-info-table th {
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }
}
